#main-body {
  background-color: #888CFF;
  height: 100%;
  width: 100%;
}

.main-header {
  height: 80px;
  display: flex;
  overflow: hidden;
}

.logo {
  align-content: right;
  margin: 20px;
}

.header-icon {
  margin: 20px;
  border-radius: 50%;
  background: #73EFB2;
  height: 20px;
  width: 20px;
}

.divide-horizontal {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.banner-text {
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 80px;
  align-content: center;
  font-weight: bold;
  margin: 0px;
  line-height: 100%;
}
.small-banner-text {
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 60px;
  align-content: center;
  font-weight: bold;
  margin: 0px;
  line-height: 100%;
}

.text-center {
  align-content: center;
} 
.banner-small-text {
  font-family: sans-serif;
  color: #FFFFFF;
  align-content: center;
  margin: 0px;
  padding: 10px;
}

.vegy {
  color: #73EFB2;
  padding: 0px;
  margin: 0px;
}

.main-body {
  padding-top: 50px;
}

.card-black {
  background: #473F42;
  width: auto;
  height: auto;
  transform: rotate(-3deg);
  padding-left: 30px;
  line-height: 600%;
  padding: 10px;
}
.card-white {
  background: #FFFFFF;
  width: auto;
  height: auto; 
  transform: rotate(-2deg);
  position: absolute;
}
.small-card-white {
  background: #FFFFFF;
  width: auto;
  height: auto; 
}
.papercut {
  top: 0;
  left: 6px;
  right: 6px;
  height: 25px;
  background-color: #888CFF;
  margin-top: -8px;
  mask: url(./images/circle.svg);
  -webkit-mask: url(./images/circle.svg);
}
.card-blue {
  background: #6469E3;
  width: 550px;
  height: 260px;
  transform: rotate(3deg);
}
.small-card-blue {
  background: #6469E3;
  width: auto;
  height: auto;
}
.card-green {
  background: #73EFB2;
  width: auto;
  height: 480px;
  transform: rotate(-3deg);
}
.small-card-green {
  background: #73EFB2;
  width: auto;
  height: auto;
}
.space-around {
  margin: 10px;
}
.text-sans {
  font-family: sans-serif;
}
.gamma {
  font-size: 30px;
}
.alpha {
  font-size: 88px;
}
.beta {
  font-size: 65px;
}
.delta {
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.soft {
  margin: 20px;
}
.soft-left {
  margin-left: 10px;
}
.soft-right {
  margin-right: 10px;
}
.soft-ends {
  margin-top: 10px;
  margin-bottom: 10px;
}
.soft-sides {
  margin-left: 10px;
  margin-right: 10px;
}
.hard {
  margin: 0px;
}
.hard-left {
  margin-left: 0px;
}
.soft-top {
  margin-top: 10px;
}
.soft-double-top {
  margin-top: 20px;
}
.soft-bottom {
  margin-bottom: 10px;
}
.soft-double-bottom {
  margin-bottom: 20px;
}
.push {
  padding: 20px;
}
.push-top {
  padding-top: 10px; 
}
.push-double-top {
  padding-top: 20px;
}
.push-bottom {
  padding-bottom: 10px;
}
.push-double-bottom {
  padding-bottom: 20px;
}
.white {
  color: #FFFFFF;
}
.text-vegy {
  color: #73EFB2;
}
.text-purple {
  color: #888CFF;
}
.center {
  margin: 0 auto;
}

.container-sheet {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 710px;
  width: 100%;
  max-width: 1300px;
}

/* to relase the card on scroll */
.release {
  position: relative;
  left: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.stuck {
  position: fixed;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  height: 100vh;
  align-items: center;
  display: flex;
}